body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer {
  background-color: white;
  padding: 10px 70px;
  color: black;
  border-radius: 25px;
}

.divContent {
  text-align: center;
}

.LoginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.AdminPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.UpdateScreenTogetherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
